<ion-view view-title={{viewTitle}}>
  <ion-content>
    <ion-refresher on-refresh="refreshTopics()">
    </ion-refresher>
    <ion-list>
      <div class="card" ng-repeat="topic in topics">
        <div class="item item-text-wrap item-avatar">
          <!-- author avatar -->
          <img ng-src="{{topic.user.avatar_url}}">
          <h2>{{topic.title}}</h2>
          <p>
            <span class="topic-node-name">{{topic.node_name}}</span>
            <span class="topic-user-name">{{topic.user.login}}</span>
            <span ng-if="topic.replied_at === null">
              于 <span class="topic-created-at">{{topic.created_at | timeago}}</span> 前发布
            </span>
            <div ng-if="topic.replied_at !== null">
              最后由 <span class="topic-last-reply-name">{{topic.last_reply_user_login}}</span> 于 <span class="topic-replied-at">{{topic.replied_at | timeago}}</span> 前回复
            </div>
          </p>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreTopicsCanBeLoaded()"
      on-infinite="loadMoreTopics()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
